:root{
    --white: #fff;
    --gray: #6C757D;
    --color1: #D358EA;
    --color2: #467CD4;
    --color3: #DC3545;
    --color4: #CCCCCC;
}

.banner{
    background-image: url(./img/banner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

section#banner-section p{
color: var(--color1);
font-weight: bold;
font-size: 1.5rem;
}